{% extends 'base.html' %}{% block title %}Profile page{% endblock %}{% block content %} {{user.username}}{{user.id}}
<section style="background-color: #eee;">
    <div class="container py-5">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">User</a></li>
                        <li class="breadcrumb-item active" aria-current="page">User Profile</li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src="{{user.profile.avatar.url}}" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                        <h5 class="my-3">{{user.username}}</h5>
                        <p class="text-muted mb-1">Full Stack Developer</p>
                        <p class="text-muted mb-4">Current Hood : {{profile.neighbourhood}}</p>



                        <div class="d-flex justify-content-center mb-2">
                            <button type="button" class="btn btn-lg m-3" data-bs-toggle="modal" data-bs-target="#profileModal">
                            <i class="fa fa-plus text-white"></i> Update Profile
                            </button>
                            <button type="button" class="btn btn-outline-primary ms-1">Message</button>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="profileModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="profileModalLabel">Update Profile</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form action="{% url 'update_profile' %}" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group mb-3">
                                                <label for="name">First Name</label>
                                                <input type="text" class="form-control" id="first_name" name="first_name" value="{{ user.first_name }}">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group mb-3">
                                                <label for="name">Last Name</label>
                                                <input type="text" class="form-control" id="last_name" name="last_name" value="{{ user.last_name }}">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group mb-3">
                                                <label for="username">Username</label>
                                                <input type="text" class="form-control" id="username" name="username" value="{{ user.username }}">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group mb-3">
                                                <label for="email">Neighbourhood</label>
                                                <select name="neighbourhood" id="neighbourhood" class="form-control" required>
                                                                <option value="">Select Neighbourhood</option>
                                                                {% for neighbourhood in neighbourhood %}
                                                                <option value="{{ neighbourhood.name }}">
                                                                    {{neighbourhood.name }}
                                                                </option>
                                                                {% endfor %}
                                                            </select>
                                            </div>

                                            <!-- <div class="form-group mb-3">
                                                            <label for="contact">Contact</label>
                                                            <input type="text" class="form-control" id="contact"
                                                                name="contact" value="{{ profile.contact }}">
                                                        </div> -->
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group mb-3">
                                                <label for="email">Email</label>
                                                <input type="email" class="form-control" id="email" name="email" value="{{ user.email}}">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group mb-3">
                                                <label for="email">Location</label>
                                                <select name="location" id="location" class="form-control" required>
                                                                <option value="">Select Location</option>
                                                                {% for location in locations %}
                                                                <option value="{{ location.name }}">{{ location.name }}
                                                                </option>
                                                                {% endfor %}
                                                            </select>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- <div class="form-group mb-3">
                                                    <label for="bio">Bio</label>
                                                    <textarea name="bio" id="bio" cols="30" rows="10"
                                                        class="form-control">{{ profile.bio }}</textarea>
                                                </div> -->
                                    <div class="form-group mb-3">
                                        <label for="profile_pic">Profile Picture</label>
                                        <input type="file" class="form-control" id="profile_pic" name="profile_pic" required>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn">Update Account</button>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>


                <!-- <div class="card mb-4 mb-lg-0">
                    <div class="card-body p-0">
                        <ul class="list-group list-group-flush rounded-3">
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fas fa-globe fa-lg text-warning"></i>
                                <p class="mb-0">https://mdbootstrap.com</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fab fa-github fa-lg" style="color: #333333;"></i>
                                <p class="mb-0">mdbootstrap</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
                                <p class="mb-0">@mdbootstrap</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
                                <p class="mb-0">mdbootstrap</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i>
                                <p class="mb-0">mdbootstrap</p>
                            </li>
                        </ul>
                    </div>
                </div> -->
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Full Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{user.first_name}} {{user.last_name}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{user.email}}</p>
                            </div>
                        </div>
                        <hr>
                        <!-- <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Created at</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{user.created_at}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Mobile</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">(098) 765-4321</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Address</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">Bay Area, San Francisco, CA</p>
                            </div>
                        </div> -->
                    </div>
                </div>
                <!-- post modal -->
                <div class="col-lg-8">
                    <button type="button" class="btn btn-primary m-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <i class="fa fa-plus text-white"></i> Add Post
                    
                </button>

                    <table class="table mt-3">
                        <thead>
                            <tr>
                                <th scope="col">picture</th>
                                <th scope="col">tile</th>
                                <th scope="col">posted by</th>
                                <th scope="col">Handle</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for post in posts %}

                            <tr>
                                <th scope="row">
                                    {% if post.image %}

                                    <img src="{{ post.image.url }}" class="border-radius-around" alt="Image" height="100"> {% else %}
                                    <img src="https://www.freeiconspng.com/uploads/no-image-icon-11.PNG" class="border-radius-around" alt="Image"> {% endif %}
                                </th>
                                <td>
                                    {{post.title}}

                                </td>
                                <td>{{post.user}}</td>
                                <td>@mdo</td>
                            </tr>
                            {% endfor %}


                        </tbody>
                    </table>

                </div>






                <!-- modal formgoes for posts ghrere -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Add Post</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form action="{% url 'save_post' %}" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="form-group mb-3">
                                        <label for="title">Title</label>
                                        <input type="text" class="form-control" value="" name="title" required>
                                    </div>
                                    <div class="mb-3">


                                    </div>
                                    <div class="form-group">
                                        <div class="form-group mb-3">
                                            <label for="email">Location</label>
                                            <select name="location" id="location" class="form-control" required>
                                            <option value="">Select Location</option>
                                            {% for location in locations %}
                                            <option value="{{ location.name }}">{{ location.name }}</option>
                                            {% endfor %}
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group mt-3">
                                        <label for="exampleFormControlFile1">Photo</label>
                                        <input type="file" class="form-control" id="exampleFormControlFile1" name="image">
                                    </div>
                                    <div class="form-group mt-3">
                                        <label for="exampleFormControlTextarea1">Content</label>
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" name="content" required></textarea>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn">Save</button>
                                </form>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>
                <div class="col-lg-8">
                    <button type="button" class="btn btn-primary m-3" data-bs-toggle="modal" data-bs-target="#addBusiness">
                        <i class="fa fa-plus text-white"></i> create business</button>


                    <table class="table mt-3">
                        <thead>
                            <tr>
                                <th scope="col">Biz name</th>
                                <th scope="col"> Biz description</th>
                                <th scope="col">Neighbourhood</th>
                                <th scope="col">Owner </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for business in businesses %}

                            <tr>
                                <td>{{ business.name}}</td>
                                <td>
                                    {{ business.description }}

                                </td>
                                <td>{{business.neighbourhood}}</td>
                                <td>{{business.user}}</td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="4" class="text-center text-danger">No Businesses Created! yet</td>
                            </tr>

                            {% endfor %}


                        </tbody>
                    </table>







                </div>


                <div class="modal fade" id="addBusiness" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Add Business</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form action="{% url 'create_business' %}" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="form-group mb-3">
                                        <label for="title">Business Name</label>
                                        <input type="text" class="form-control" value="" name="name" required>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label for="title">Business Email</label>
                                        <input type="email" class="form-control" value="" name="email" required>
                                    </div>
                                    <!-- <div class="mb-3">
                                    <label for="neighbourhood">Neighbourhood</label>
                                    <select name="neighbourhood" id="neighbourhood" class="form-control"
                                        required>
                                        <option value="">--Select Option--</option>
                                        {% for neighbourhood in neighbourhood %}
                                        <option value="{{ neighbourhood.name }}">{{ neighbourhood.name }}
                                        </option>
                                        {% endfor %}`
                                    </select>
                                </div> -->
                                    <div class="form-group mt-3">
                                        <label for="exampleFormControlTextarea1">Description</label>
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" name="description"></textarea>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn">Save</button>
                                </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>





        </div>




        <!-- button to add business -->



    </div>
    </div>
    </div>
    </div>
</section> {% endblock %}