{% extends 'base.html' %} {% load material_form %} {% block content %}

<div class="col s12 m8 offset-m2">
  <div class="card w-50 p-4 mx-auto">
    <div class="card-content">
      <h2 class="flow-text">Update your Profile</h2>
      <form action="." method="POST" class="padding">
        {% csrf_token %} {{ user_form.as_p }}
        <div class="divider"></div>
        {{ formset.management_form }} {{ formset.as_p }}
        <button type="submit" class="waves-light waves-effect">
          <i class="fas fa-circle-check fa-xl"></i>
        </button>
        <a
          href="#"
          onclick="window.history.back(); return false;"
          title="Cancel"
          class="btn-floating waves-effect waves-light red"
          ><i class="fas fa-history">history</i></a
        >
      </form>
    </div>
  </div>
</div>
{% endblock %}
