{% extends 'base.html' %}

<!-- root view -->
{% block content %}
<!-- home content -->
<div class="row">
  <div class="col-md-12">
    <div class="banner rounded mt-5">
      <h3 class="text-center">Welcome to {{data.neighborhood}}</h3>
      '
      <div class="col-md-6 col-sm-10 mx-auto">
        <div class="input-group mb-2">
          <input
            type="search"
            class="form-control col-form-label-lg"
            id="inlineFormInputGroup"
            placeholder="Search..."
          />
          <div class="input-group-append">
            <button class="btn btn-outline-info" type="button">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
