{% extends 'base.html' %}

<!-- root view -->
{% block content %}
<!-- home content -->
<div class="row">
  <div class="col-md-12">
    <div class="banner rounded mt-5 shadow">
      {% if data.neighborhood %}
      <h3 class="text-center">Welcome to {{data.neighborhood}}</h3>
      {% else %}
      <h3 class="text-center">Hello {{data}}</h3>
      {% endif %}
      <div class="col-md-6 col-sm-10 mx-auto">
        <form action="/">
          <div class="input-group mb-2">
            <input
              type="search"
              class="form-control col-form-label-lg"
              id="inlineFormInputGroup"
              placeholder="Search..."
            />
            <div class="input-group-append">
              <button class="btn btn-outline-info" type="submit">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </form>
        <small class="text-muted"
          >Find: businesses, public facilities, news... around you</small
        >
      </div>
    </div>
    <div class="mini-nav">
      <div class="text-center">
        <a href="#" type="button" class="mini-nav__item nav-btn">Facilities</a>
        <a href="#" type="button" class="mini-nav__item nav-btn"> Posts </a>
        <a href="#" type="button" class="mini-nav__item nav-btn">Businesses</a>
      </div>
    </div>
    <hr />
  </div>
</div>
<!-- home content -->

<div class="container mt-3">
  <div class="news-section d-none">
    {% if posts %} {% for post in posts %}
    <div class="card">
      <div class="card-body">{{ post }}</div>
    </div>
    {% endfor %} {% else %}
    <h3 class="text-center">Oops. no news available currently</h3>
    {% endif %}
  </div>
  <!--  -->

  <div class="facility-section">
    <div class="row p-2">
      {% if facilities %} {% for facility in facilities %}
      <div class="col-12 col-md-6 col-sm-12 col-lg-4">
        <div class="card facility-card mb-2 shadow-sm bg-white">
          <div class="card-body">
            <h3>{{facility.name}}</h3>
            <small class="text-muted">{{facility.created_at|date }}</small>
            <!-- <i class="fas fa-atom position-absolute"></i> -->
            <p>{{facility.location}}</p>
            <small><i class="fas fa-phone"></i>{{facility.contact}}</small>
          </div>
          <div class="card-footer"></div>
        </div>
      </div>
      {% endfor %} {% else %}
      <p class="text-center">No facilites found in your area.</p>
      {% endif %}
    </div>
  </div>

  <!--  -->
  <div class="business-section d-none">
    {% if businesses %}
    <p>{{businesses}}</p>
    {% else %}
    <p>No businesses found in your area.</p>
    {% endif %}
  </div>
</div>

{% load static %}
<!-- content filter code -->
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
  referrerpolicy="no-referrer"
></script>
<script src="{% static 'script.js' %}"></script>
{% endblock %}
