{% extends 'base.html' %}

<!--  -->
{% block content %}
<div class="row">
  <div class="col-4 mx-auto">
    <div class="card">
      <div class="card-body">
        <form action="" method="POST">
          {% csrf_token %}
          <h3>Create Post</h3>
          <div class="form-group">
            <div class="input-control">
              <label>Title:</label>
              {{form.title}}</div>
          </div>
          <div class="input-group mb-3">
            <p>Content: </p>
            {{form.body}}
          </div>
          <div class="form-group">{{form.picture}}</div>
          <input type="submit" value="post" class="btn btn-primary btn-sm" />
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
